.completed {
	opacity: 1.0;
}
.losed {
	opacity: 0.4;
}

#communicator {
	float: right;
	text-align: center;
}

.leaflet-popup {
	opacity: 0.5 !important;
}
.leaflet-popup:hover {
	opacity: 0.9 !important;
}

.alertbox {
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.alert {
	width: 300px;
	margin: 0px auto;
	box-shadow: 3px 3px 4px 2px #666;
}

/**********************************************************************/
/*paths and arrows*/
.edge {
	stroke: gray;
	opacity: 0.35;
}
.entityPath {
	stroke: #7B1B1B;
}

.directionArrow {
	stroke: black;
}

/*By default hidden*/
.edgeHighlighted {
	stroke: red;
	opacity: 1;
	z-index: 1000;
	display: none;
}
